<%= link_to 'メンバー募集', recruitments_path %>

<div class="box">
<h3>Topics</h3>
<div class="scr">
<% @topics.each do |t| %>
  <%= link_to t.title, topic_path(t.id) %>
  <hr>
<% end %>
</div>
<%= link_to '新規投稿', new_topic_path %>
<br>
<h3><%= link_to 'more', topics_path %></h3>
</div>